@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <div class="row">
        <div class="col-2">
            <img class="rounded" src="" width="120" height="120" title="Perfil image" />
        </div>
        <div class="col-md-6">
            <h2>Change your account settings</h2>
        </div>

    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
            <hr />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
