@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = "success";
    if (Model.StartsWith("Atention"))
        statusMessageClass = "warning";
    if (Model.StartsWith("Error"))
        statusMessageClass = "danger";

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
